@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {
  font-family: 'Singo-1Goqv';
  src: url('../public/fonts/Singo-1Goqv.woff2') format('woff2'),
  url('../public/fonts/Singo-1Goqv.woff') format('woff'),
  url('../public/fonts/Singo-1Goqv.ttf')  format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #ffbd00;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



